
.box {
  border-bottom: 2px solid #244d3f;
  border-left: 2px solid #244d3f;
  animation-name: moveBox;
  animation-duration:1s;
  animation-timing-function: linear;

}


@keyframes moveBox {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-10px);
  }
}